.direnv/
dist/
node_modules/
result/
release/
assets/plugin-manager/
*.log
mobile/android/android/.gradle/
mobile/android/android/local.properties
mobile/android/android/app/build/
mobile/android/*.keystore
mobile/android/keystore.properties
